.all-chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    bottom: 0;
    max-height: 80%;
    margin-top: 50px;
}

.all-chats__header {
    margin-top: 0;
    max-height: 15%;
}

.all-chats__chats_wrapper {
    display: flex;
    height: 90%;
    max-height: 90%;
    bottom: 0;
}

.all-chats__chats-menu {

    display: flex;
    flex-direction: column;
    border: solid #becde4 2px;
    border-radius: 4px;
}

.all-chats__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.all-chats__list-item-wrapper {
    text-decoration: none;
}

.all-chats__list_item {
    margin-top: 5px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    width: 100%;
    padding: 5px;
    overflow: auto;
}

.all-chats__list_item:hover {
    border-color: #99c2ff;
    transition: border-color 0.5s ease;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.all-chats__list-item-link {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 20px;
}

.all-chats__list_item--active {
    border-top: solid #99c2ff 1px;
    border-bottom: solid #99c2ff 1px;
    background-color: #99c2ff;
    color: white;
}

.all-chats__list_item--active:hover {
    color: white;
}

.all-chats__chat-panel {
    display: flex;
    width: 100%;
    padding-left: 10px;
    height: 100%;
    max-height: 100%;
}